@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@layer base {
	h1 {
		@apply text-3xl;
		font-family: var(--font-pacifico), serif;
	}

	h2 {
		@apply text-center text-xl;
	}

	button {
		@apply rounded-md bg-sky-600 px-3 py-2 text-sm text-white hover:bg-sky-500 active:bg-sky-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 w-full disabled:bg-stone-300;
	}

	input {
		@apply block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6;
	}

	label {
		@apply block font-light text-sm/6 text-gray-900;
	}

	table {
		th,
		td {
			@apply px-3;
		}

		thead {
			tr {
				th {
					@apply border-b border-stone-300;
				}
			}
		}

		tbody {
			tr {
				@apply even:bg-stone-100 odd:bg-white;
			}
		}
	}

	.input-container {
		@apply flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-sky-600;
	}
}

@layer components {
	.layout-container {
		@apply container mx-auto pt-5 pb-9 px-3;

		/* Adding max-w-lg directly to .layout-container results in the style being overruled by
		"container" styles. */
		&.layout-container {
			@apply max-w-lg;
		}
	}

	.bottle-button {
		@apply hover:bg-none! hover:bg-sky-500! active:bg-sky-800!;
	}

	.delete-button {
		@apply hover:bg-red-100 active:bg-red-200 bg-transparent border-1 border-stone-300 my-1 w-auto;

		svg {
			@apply fill-red-700 h-6 w-6;
		}
	}
}

body {
	@apply text-neutral-600;
	background: var(--background);
	font-family: var(--font-sour-gummy), sans-serif;
}
